body {
    font-family: sans-serif;
    overflow-x: hidden;
    background-color: #eee;
    font-size: 15px;
    padding: 8px;
    min-width: 440px;
    max-width: 460px;
    width: auto;
}
.container {
    min-width: 440px;
    max-width: 460px;
    width: auto;
}
.list-group {
    font-size: .9em !important;
}
.list-group-item {
    padding: 5px 10px !important;
}
.list-group-item:hover {
    cursor: pointer;
}
.settings {
    padding-bottom: 10px;
    margin-bottom: 10px;
    border-bottom: 1px solid #333;
    font-size: 90%;
    text-align: left;
}
.settings label {
    display: block;
}
.settings label input {
    vertical-align: middle;
}
.settings .description {
    margin-top: 3px;
    font-size: 80%;
    color: #787878;
}
#list {
    padding-left: 0px;
}
#child {
    border-top: 0px;
}
.small {
    margin-top: 3px;
    margin-left: 12px;
    font-size: 80%;
    color: #787878;
    width: 60%;
}
#update-available {
    padding-top: 10px;
    margin-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
    text-align: left;
    display: none;
}
#update-available a:hover,
#update-available a:active {
    text-decoration: underline;
}
#lock-database-button {
    float: right;
    height: 30px;
}
#login-filter {
	outline:none;
	border-radius: 4px;
	border: 1px solid #ccc;
	margin-bottom: 5px;
	padding: 2px 10px;
	width: 100%;
}
.credentials .groups {
    display: none;
    border-top: 1px solid #333;
}
.connected-database {
    display: none;
    font-size: 85%;
    color: #787878;
}
.credentials .username-new {
    display: none;
}
.credentials .username-exists {
    display: none;
}

.tp-pwgen-buttons {
    position: relative;
}   
    
.tp-pwgen-titlebar {
    font-size: 14px !important;
    background-color: #0677e1;
    color: #fff;
    padding: .4em .2em .4em .8em;
    margin: .2em 0 .2em 0;
    position: relative;
    cursor: move;
}

.tp-pwgen-password-row {
    margin-top: 5px;
    margin-bottom: 5px;
}

.tp-pwgen-bits {
    text-align: right;
}

.tp-pwgen-input {
    width: 90%;
    font-size: 12px !important;
    font-weight: normal !important;
}

input[type=range].slider {
    -webkit-appearance: none;
    width: 100%;
    margin: 0px 0;
}

input[type=range].slider:focus {
    outline: none;
}

input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 32px;
    cursor: pointer;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
    background: #0000ff;
    border-radius: 0px;
    border: 0px solid #010101;
}

input[type=range].slider::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
    border: 0.4px solid rgba(0, 30, 0, 0.57);
    height: 32px;
    width: 17px;
    border-radius: 0px;
    background: #aeffff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: 0px;
}

input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #8080ff;
}

input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 32px;
    cursor: pointer;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
    background: #0000ff;
    border-radius: 0px;
    border: 0px solid #010101;
}

input[type=range].slider::-moz-range-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
    border: 0.4px solid rgba(0, 30, 0, 0.57);
    height: 32px;
    width: 17px;
    border-radius: 0px;
    background: #aeffff;
    cursor: pointer;
}

input[type=range].slider::-ms-track {
    width: 100%;
    height: 32px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}

input[type=range].slider::-ms-fill-lower {
    background: #000080;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}

input[type=range].slider::-ms-fill-upper {
    background: #0000ff;
    border: 0px solid #010101;
    border-radius: 0px;
    box-shadow: 0.1px 0.1px 0px #005900, 0px 0px 0.1px #007200;
}

input[type=range].slider::-ms-thumb {
    box-shadow: 0px 0px 0px rgba(0, 0, 62, 0.67), 0px 0px 0px rgba(0, 0, 88, 0.67);
    border: 0.4px solid rgba(0, 30, 0, 0.57);
    width: 17px;
    border-radius: 0px;
    background: #aeffff;
    cursor: pointer;
    height: 32px;
}

input[type=range].slider:focus::-ms-fill-lower {
    background: #0000ff;
}

input[type=range].slider:focus::-ms-fill-upper {
    background: #8080ff;
}

.tp-pwgen-length {
    width: 50% !important;
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}