.tpAutocomplete-items {
    position: absolute !important;
}

.tpAutocomplete-items div {
    padding: 5px;
    cursor: pointer;
    background-color: #0677e1;
    border-bottom: 1px solid #ff9915;
    border-left: 1px solid #ff9915;
    border-right: 1px solid #ff9915;
    width: auto;
    color: #ff9915;
    font-size: .9em !important;
}

.tpAutocomplete-items footer {
    padding: 5px;
    background-color: #0677e1;
    border: 1px solid #ff9915 !important;
    width: auto;
    color: #ff9915;
    font-size: .8em !important;
    font-style: italic;
}

.tpAutocomplete-active {
    background-color: #0a56bb !important;
    color: #ff9915 !important;
    /* border: 0px !important; */
}
